<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
    <title>Masrouqa</title>
</head>

<body>
    <% include ../partials/nav.ejs %>
    <% if (user) { %>
        <% include ../partials/add-btn.ejs %>
    <% } %>
    <% include functions.ejs %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m8">
                    <h3> <%= post.title %></h3>
                    <% if (user) {%>
                        <%- editIcon(post.user.id, user.id, post._id, false) %>
                    <% } %>
                    <div class="card story">
                        <div class="card-content">
                            <span class="card-title"><%= post.date.toLocaleDateString() %></span>
                            <h6 class="post-text"><%- post.description %></h6>
                        </div>
                    </div>

                    <div class="card story">
                        <% if (user && user.id != post.user.id) { %>
                            <form action="/post/verfiy/<%= post._id %>" method="post" class="col s6">
                                <div class="row">
                                    <div class="input-field">
                                        <h5>Q1:  <%= post.questions[0] %></h5>
                                        <textarea name="ans1"></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field">
                                        <h5>Q2:  <%= post.questions[1] %></h5>
                                        <textarea name="ans2"></textarea>
                                    </div>
                                </div>

                                <input type="submit" value="Verfiy" class="btn">
                            </form>
                        <% } else if(!user) { %>
                            <p>please <a href="/auth/google">login</a> to verfiy owner ship</p>
                        <% } %>
                    </div>
                </div>
                
                <div class="col s12 m4">
                  <div class="card center-align">
                    <div class="card-content">
                      <span class="card-title"><%= post.user.firstName %> <%= post.user.lastName %></span>
                      <img src="<%= post.user.image %>" class="circle responsive-img">
                    </div>
                    <div class="card-action">
                      <a href="/post/user/<%=post.user.id%>">More From <%= post.user.firstName %></a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </main>
    <% include ../partials/footer.ejs %>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script>
        $(document).ready(() => {
            $('.button-collapse').sideNav();
        });
    </script>
</body>

</html>